*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif
    color: #a1a7bd
a
    text-decoration: none
body
    padding: 0
    margin: 0
.header
    height: 634px
    &__border
        height: 80px
        border-bottom: 2px solid #f0f2f7
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        height: 80px
        &__center
            &_ul
                display: flex
                list-style: none
                margin-top: 30px
                & li
                    margin-left: 20px
                & a
                    color: #343e5c
                    font-weight: bold
                    font-size: 13px
        &__left
            display: flex
            align-items: center
            height: 100%
            &__bars
                padding-right: 20px
                font-size: 24px
                cursor: pointer
            &__logo
                padding: 23px
                border-left: 2px solid #f0f2f7
                height: 100%
        &__rigth
            &__cart
                display: inline-block
                cursor: pointer
                & i
                    color: #343e5c
                &__text
                    font-weight: bold
                    position: relative
                    font-size: 11px
                    color: #343e5c
                &__count
                    display: block
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    background: #E3E8F0
                    position: absolute
                    top: -3px
                    right: -25px
                    text-align: center
                    font-size: 13px
                    line-height: 19px
                    color: #343e5c
            &__sign
                display: inline-block
                margin-left: 40px
                width: 100px
                text-transform: uppercase
                border: 1px solid #E3E8F0
                text-align: center
                border-radius: 20px
                padding: 4px
                font-size: 13px
                font-weight: bold
                cursor: pointer
                color: #343e5c
                transition: background .5s
                &:hover
                    background: #E3E8F0
        &__menu

            display: flex
            justify-content: space-between
            align-items: center
            height: 75px
            &__left
                &__categ
                    &_nav
                        display: flex
                        list-style: none
                        margin-top: 24px
                        & li
                            // margin-left: 20px
                            width: 100px
                            text-align: center
                            & a
                                text-transform: uppercase
                                font-size: 12px
                                color: #b9bed1
                                &:hover
                                    color: #343e5c
                                    font-weight: bold
            &__rigth
                height: 100%
                &__support
                    display: inline-block
                    text-transform: uppercase
                    font-size: 12px
                    color: #b9bed1
                    margin-right: 15px
                    & a
                        color: #b9bed1
                        &:hover
                            color: #343e5c
                            font-weight: bold
                &__search
                    height: 100%
                    display: inline-block
                    width: 190px
                    font-size: 11px
                    padding: 16px 0 
                    
                    & input
                        width: 100%
    &__slider
        position: relative
        background: #1C1E23
        height: 479px
        &__all-slide
            align-items: center
            padding: 0 
            position: relative
            height: 473px
        &__title
            h2
                white-space: nowrap
                font-weight: bold
                line-height: 30px
                color: #ffffff
            & button
                background: #2754EB
                color: #fff
                border: none
                border-radius: 20px
                width: 150px
                margin-top: 40px
            & p
                color: #ffffff
        &__cartoon
            margin-top: -11px
            width: 170%
            height: 100%
            & img
                width: 50%
                height: auto
                position: absolute
                top: 5%
                right: 25px
        &__chevron
            text-align: center
            & i
                border: 2px solid #494A4E
                display: block
                padding: 12px
                border-radius: 50%

        &__select
            width: 10px
            height: 10px
            display: inline-block
            border: 1px solid #fff
            border-radius: 50%
            margin-right: 5px
            cursor: pointer
        &__all-selector
            position: absolute
            bottom: 40px
            left: 50%
            transform: translateX(-50%)
.main
    background: #E4E5E7
    padding: 20px 0
    &__filter
        display: flex
        justify-content: space-between
        align-items: center
        display: none
        & a
            display: block
            background: #C13D41
            color: #ffffff
            padding: 1rem
            border-radius: 5px
            & select 
                padding: 0
                margin: 0
                min-width: 120px
    &__sort
        display: flex
        align-items: center
        flex-wrap: wrap
        width: 100%
        min-height: 60px
        background: #fff
        border-radius: 5px
        padding-top: 5px
        padding-bottom: 5px
        padding-left: 5px
        padding-right: 5px
  
        &__left
            border-right: 2px solid #f0f2f7
            padding-right: 3px
            height: 100%
            display: flex
            align-items: center
            
            text-transform: uppercase
            font-size: 11px
            & span
                white-space: nowrap
            &__sort
                display: block
                border: none
                margin: 0
                outline: none
                color: #343e5c
                font-weight: bold
                font-size: 11px              
                &:focus
                    outline: none
                    border: none !important
        &__center
            display: flex
            align-items: center
            justify-content: space-around
            text-transform: uppercase
            font-size: 11px
            flex: 1
            &__keywords
                display: block
                
                max-width: 23%
                height: 30px !important
                color: #343e5c
                border-radius: 30px !important
                background: #F0F2F7 !important
                // margin: 0 15px
                margin: 0
                &:focus
                    outline: none
            &__price
                width: 50px
                height: 30px !important
                border-radius: 30px !important
                background: #F0F2F7 !important
                margin: 0 
                color: #343e5c
                &:focus
                    outline: none !important
            & label
                margin-bottom: 0
                color: #343e5c
            &__check
                margin: 0
                margin-right: 5px
        &__rigth
            
            height: 100%
            display: flex
            align-items: center
            justify-content: space-between
            padding-left: 15px
            text-transform: uppercase
            font-size: 11px
            border-left: 2px solid #f0f2f7
            & span
                white-space: nowrap
            & label 
                color: #000000
                margin: 0
                margin-right: 10px
            &__ship
                display: block
                border: none
                margin: 0
                outline: none
                text-transform: uppercase
                color: #343e5c
                font-weight: bold
                
                &:focus
                    outline: none
                    border: none !important
.side-menu

    background: #E4E5E7
    padding-top: 10px
    &__nav
        width: 190px
.nav-menu
    border-radius: 4px
    list-style: none
    overflow: hidden
    & ul
        transition: 0.3s
        margin-left: 0
        list-style: none

    & li
        background: #F0F2F7
        transition: .5s
        z-index: 0
        position: relative
        margin-bottom: 0

.show-list
    margin-top: 0
    opacity: 1
    margin-bottom: 0
.hide-list
    margin-top: -109px
    opacity: 0
    z-index: -1
    position: relative
    & li
        border-bottom: 1px solid #DFE4EE
        text-transform: uppercase
        font-size: 13px
        height: 31px
        &:last-child
            border-bottom: 0
        & a
            display: block
            color: #a1a7bd
            font-size: 11px
            padding-left: 10px
            padding-top: 4px
            height: 100%  

.cat
    position: relative
    z-index: 100
    overflow: hidden
    background: #fff !important
    border-bottom: 1px solid #DFE4EE
    &__title
        position: relative
        z-index: 9999
        color: #343e5c
        background: #ffffff
        display: block
        border-bottom: 1px solid #DFE4EE
        padding-left: 13px
        height: 39px
        padding-top: 8px
        font-size: 12px
        font-weight: bold

        &:last-child
            border: none
        & i
            position: absolute
            right: 15px
            top: 11px
            transition: transform .3s ease
        &.anim
            & i
                transform: rotate(90deg)
            + ul.hide-list
                margin-top: 0
                opacity: 1
                margin-bottom: 0
      
     
.df
    display: flex

.side-menu
    &__available
        width: 190px
        background: #fff
        border-radius: 3px
        padding-bottom: 10px
        &__title
            position: relative
            text-transform: uppercase
            margin-bottom: 10px
            padding: 10px 0 10px 10px
            border-bottom: 1px solid #DFE4EE
            & h6
                margin-bottom: 0
                color: #343e5c
                font-weight: bold
                font-size: 13px
                letter-spacing: 1px
            & a
                position: absolute
                right: 10px
                top: 8px
                font-size: 13px
                text-decoration: underline
                color: #2754eb
        &__storage
            position: relative
            margin-bottom: 10px
            padding-left: 10px
            & input
                margin-bottom: 0
            & label
                font-size: 12px
                color: #343e5c
                margin-bottom: 0
            &__value

                display: inline-block
                position: absolute
                right: 10px
        &__brands
            border-top: 1px solid #DFE4EE
        &__delivery
            margin-top: 10px
            border-radius: 3px
            background: #ffffff
            // padding-bottom: 5px

            &__title
                padding: 10px 0 10px 10px
                border-bottom: 1px solid #DFE4EE
                & h6
                    margin-bottom: 0
                    color: #343e5c
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 12px

            & label
                color: #343e5c
                text-transform: uppercase
                font-size: 11px
            &__cost
                display: flex
                justify-content: space-around
                align-items: center

                & div
                    padding-top: 10px
                    & label
                        margin-top: -3px
                    &:first-child

                        border-right: 1px solid #DFE4EE
                        height: 100%
                        padding-right: 35px
                    &:last-child
                        border: none

//checkbox
.condition
    margin-top: 10px
    border-radius: 3px
    background: #ffffff
    padding-bottom: 5px

    & label
        font-size: 10px
    & input
        padding-left: 5px
label
    display: inline-block
    color: #fff
    cursor: pointer
    position: relative

    span
        display: inline-block
        position: relative
        background-color: rgba(0, 0, 0, 0)
        width: 20px
        height: 20px
        transform-origin: center
        border: 1px solid rgba(0, 0, 0, 0.2)
        border-radius: 6px
        vertical-align: -6px
        margin-right: 10px
        transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89)

        &:before
            content: ""
            width: 0px
            height: 2px
            border-radius: 2px
            background: #00E2AA
            position: absolute
            transform: rotate(45deg)
            top: 8px
            left: 6px
            transition: width 50ms ease 50ms
            transform-origin: 0% 0%

        &:after
            content: ""
            width: 0
            height: 2px
            border-radius: 2px
            background: #00E2AA
            position: absolute
            transform: rotate(305deg)
            top: 12px
            left: 7px
            transition: width 50ms ease
            transform-origin: 0% 0%

    &:hover
        & span
            &:before
                width: 5px
                transition: width 100ms ease

            &:after
                width: 10px
                transition: width 150ms ease 100ms

.check
    display: none !important
    &:checked + label
        & span
            background: #00E2AA
            border: 1px solid rgba(0, 0, 0, 0.1)
            transform: scale(1)

            &:after
                width: 10px
                background: #fff
                left: 7px
                top: 12px
                transition: width 150ms ease 100ms

            &:before
                width: 5px
                background: #fff
                left: 6px
                top: 8px
                transition: width 150ms ease 100ms
        &:hover
            & span
                background: #00E2AA
                transform: scale(1)
                border: 1px solid rgba(0, 0, 0, 0.1)
                &::after
                    width: 10px
                    background: #fff
                    transition: width 150ms ease 100ms
//  end checkbox
.products
    margin-bottom: 30px
    display: flex
    flex-wrap: wrap
    &__el
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        height: 330px
        width: 240px
        background: #000
        margin-left: 10px
        margin-bottom: 10px
        padding: 10px 17px
        background: #fff
        border-radius: 3px
        text-align: center
        transition: .3s ease
        position: relative
        transform: scaleX(1)
        overflow: hidden 
        cursor: pointer
        &__btn
            display: block
            position: absolute
            transition: .3s ease
            background-color: #000
            padding: 5px 10px
            border-radius: 8px
            bottom: -80px
            left: 50%
            transform: translateX(-50%)
        &__photo
            height: auto
            width: 70%
            margin-top: 10%
            & img
                height: inherit
                width: 100%
        &__title
            font-weight: bold
            color: #343e5c
            font-size: 16px
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            width: 150px
            
        &__check-color
            text-transform: uppercase
            font-size: 13px
            margin-top: 5px
            margin-bottom: 5px
            margin-left: 70px
            
        &__price
            color: #343e5c
            font-weight: bold
            transition: .3s ease
            transform: translateX(-50%)
            width: 100px
            border-radius: 5px
            position: absolute
            bottom: 2%
            left: 20%
            height: 30px
            
        &.myclass
            width: 492px
            padding: 20px 150px 90px 150px
            position: relative
            & .products__el__price
                bottom: 85%
                left: 5%
                transform: translateX(0%)
                background-color: #000000
                color: #fff
                line-height: 30px
            & .products__el__btn
                left: 50%
                bottom: 20px
            & .products__el__title
                white-space: nowrap
                text-overflow: ellipsis

                


.pages-fon
    background: #E4E5E7
.pages
    justify-content: space-around
    align-items: center
    border-radius: 3px
    background: #fff
    padding: 0 40px
    height: 60px
    margin-bottom: 30px
    &__arrow
        height: 100%
        padding-top: 19px
        border-right: 2px solid #f0f2f7
        padding-right: 60px
        &:last-child
            padding-right: 0
            padding-left: 60px
            border-right: none
            border-left: 2px solid #f0f2f7
    &__list

        & ul
            display: flex
            list-style: none
            margin-bottom: 0
            & li
                margin: 0 3px
                text-align: center
                &:hover
                    background: #fff
                    display: block
                    border-radius: 50%
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
                & a
                    padding: 8px 15px
                    color: #343e5c
                    display: block
                    font-size: 14px
.comment-out
    display: none
.selected-comment
    background: #fff
.sellers-pos
    padding-top: 20px
    margin-bottom: 40px
.sellers
    background: #E4E5E7
    &__all-carts
        flex-wrap: wrap
    &__title
        background: #fff
        text-align: center
        font-size: 20px
        padding: 16px 0
        text-transform: uppercase
        font-weight: bold
        border-bottom: 2px solid #f0f2f7
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        & div
            color: #343e5c
    &__all-carts
        background: #fff
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
        &__cart
            width: 240px
            text-align: center
            border-right: 2px solid #f0f2f7
            padding: 15px 0
            display: flex
            flex-direction: column
            justify-content: space-between

            &:last-child
                border-right: none
            &__img
                height: 234px
                & img
                    height: inherit
        & h6
            color: #343e5c
            font-weight: bold
            font-size: 18px
            margin-bottom: 5px
        & p
            text-transform: uppercase
            font-size: 14px
            margin-bottom: 5px
        & span
            margin: 0 8px
            text-decoration: line-through
            &:last-child
                text-decoration: none
                color: #343e5c
                font-weight: bold
.customers
    background: #fff
    &__main
        padding: 40px 0
        &__title
            text-align: center
            & h1
                font-weight: bold
                color: #343e5c
                font-size: 35px
                margin-bottom: 0
            & p
                font-style: italic
        &__all-coments
            display: flex
            justify-content: space-around
            flex-wrap: wrap
            margin-top: 50px
            &__el
                &__top
                    display: flex
                    &__photo
                        width: 70px
                        & img
                            width: inherit
                            border-radius: 50%
                    &__title
                        margin-left: 20px
                        & h5
                            margin-bottom: 0
                            color: #343e5c
                        & p
                            font-style: italic
                &__text
                    max-width: 266px
                    font-size: 13px
                    color: #343e5c
.footer
    background: #222328
    &__nav
        display: flex
        justify-content: space-between
        padding: 50px 0
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        &__networks
            & i
                color: #ffffff
                margin-left: 10px
    &__privacy
        display: flex
        justify-content: space-between
        padding: 40px 0

        & p
            width: 600px
            font-style: italic
        &__rigth
            margin-left: 20px
            & span
                margin-left: 25px
                white-space: nowrap
