* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #343e5c;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  height: 634px;
}

.header__border {
  height: 80px;
  border-bottom: 2px solid #f0f2f7;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.header__top__center_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.header__top__center_ul li {
  margin-left: 20px;
}

.header__top__center_ul a {
  color: #343e5c;
  font-weight: bold;
  font-size: 13px;
}

.header__top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__top__left__bars {
  margin-right: 20px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.header__top__left__logo {
  font-size: 45px;
  padding-left: 30px;
  color: #1C1E23;
  font-family: 'Cookie', sans-serif;
}

.header__top__rigth__cart {
  display: inline-block;
  cursor: pointer;
}

.header__top__rigth__cart i {
  color: #343e5c;
}

.header__top__rigth__cart__text {
  font-weight: bold;
  position: relative;
  font-size: 11px;
  color: #343e5c;
}

.header__top__rigth__cart__count {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #E3E8F0;
  position: absolute;
  top: -3px;
  right: -25px;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
  color: #343e5c;
}

.header__top__rigth__sign {
  display: inline-block;
  margin-left: 40px;
  width: 100px;
  text-transform: uppercase;
  border: 1px solid #E3E8F0;
  text-align: center;
  border-radius: 20px;
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  color: #343e5c;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.header__top__rigth__sign:hover {
  background: #E3E8F0;
}

.header__top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__top__menu__left__categ_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 24px;
}

.header__top__menu__left__categ_nav li {
  width: 100px;
  text-align: center;
}

.header__top__menu__left__categ_nav li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #515463;
}

.header__top__menu__left__categ_nav li a:hover {
  color: #343e5c;
  font-weight: bold;
}

.header__top__menu__rigth {
  height: 100%;
}

.header__top__menu__rigth__support {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #515463;
  margin-right: 15px;
}

.header__top__menu__rigth__support a {
  color: #515463;
}

.header__top__menu__rigth__support a:hover {
  color: #343e5c;
  font-weight: bold;
}

.header__top__menu__rigth__search {
  height: 100%;
  display: inline-block;
  width: 190px;
  font-size: 11px;
  padding: 16px 0;
}

.header__top__menu__rigth__search input {
  width: 100%;
  color: #515463;
}

.header__slider {
  position: relative;
  background: #1C1E23;
  height: 479px;
}

.header__slider__all-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
  height: 473px;
}

.header__slider__all-slide img {
  width: 100%;
  height: auto;
}

.header__slider__title h2 {
  white-space: nowrap;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.header__slider__title button {
  background: #2754EB;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 150px;
  margin-top: 40px;
}

.header__slider__title p {
  color: #ffffff;
}

.header__slider__cartoon img {
  width: 90%;
}

.header__slider__chevron {
  text-align: center;
}

.header__slider__chevron i {
  border: 2px solid #494A4E;
  display: block;
  padding: 12px;
  border-radius: 50%;
}

.header__slider__select {
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.header__slider__select.active {
  background: #ffffff;
}

.header__slider__all-selector {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main {
  background: #E4E5E7;
  padding: 20px 0;
}

.main__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.main__filter a {
  display: block;
  background: #C13D41;
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
}

.main__filter a select {
  padding: 0;
  margin: 0;
  min-width: 120px;
}

.main__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  background: #fff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.main__sort__left {
  border-right: 2px solid #f0f2f7;
  padding-right: 3px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 11px;
}

.main__sort__left span {
  white-space: nowrap;
}

.main__sort__left__sort {
  display: block;
  border: none;
  margin: 0;
  outline: none;
  color: #343e5c;
  font-weight: bold;
  font-size: 11px;
}

.main__sort__left__sort:focus {
  outline: none;
  border: none !important;
}

.main__sort__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__sort__center__keywords {
  display: block;
  max-width: 23%;
  height: 30px !important;
  color: #343e5c;
  border-radius: 30px !important;
  background: #F0F2F7 !important;
  margin: 0;
}

.main__sort__center__keywords:focus {
  outline: none;
}

.main__sort__center__price {
  width: 50px;
  height: 30px !important;
  border-radius: 30px !important;
  background: #F0F2F7 !important;
  margin: 0;
  color: #343e5c;
}

.main__sort__center__price:focus {
  outline: none !important;
}

.main__sort__center label {
  margin-bottom: 0;
  color: #343e5c;
}

.main__sort__center__check {
  margin: 0;
  margin-right: 5px;
}

.main__sort__rigth {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 11px;
  border-left: 2px solid #f0f2f7;
}

.main__sort__rigth span {
  white-space: nowrap;
}

.main__sort__rigth label {
  color: #000000;
  margin: 0;
  margin-right: 10px;
}

.main__sort__rigth__ship {
  display: block;
  border: none;
  margin: 0;
  outline: none;
  text-transform: uppercase;
  color: #343e5c;
  font-weight: bold;
}

.main__sort__rigth__ship:focus {
  outline: none;
  border: none !important;
}

.side-menu {
  background: #E4E5E7;
  padding-top: 10px;
}

.side-menu__nav {
  width: 190px;
}

.nav-menu {
  border-radius: 4px;
  list-style: none;
  overflow: hidden;
}

.nav-menu ul {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 0;
  list-style: none;
}

.nav-menu li {
  background: #F0F2F7;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 0;
  position: relative;
  margin-bottom: 0;
}

.show-list {
  margin-top: 0;
  opacity: 1;
  margin-bottom: 0;
}

.hide-list {
  margin-top: -109px;
  opacity: 0;
  z-index: -1;
  position: relative;
}

.hide-list li {
  border-bottom: 1px solid #DFE4EE;
  text-transform: uppercase;
  font-size: 13px;
  height: 31px;
}

.hide-list li:last-child {
  border-bottom: 0;
}

.hide-list li a {
  display: block;
  color: #a1a7bd;
  font-size: 11px;
  padding-left: 10px;
  padding-top: 4px;
  height: 100%;
}

.cat {
  position: relative;
  z-index: 100;
  overflow: hidden;
  background: #fff !important;
  border-bottom: 1px solid #DFE4EE;
}

.cat__title {
  position: relative;
  z-index: 9999;
  color: #343e5c;
  background: #ffffff;
  display: block;
  border-bottom: 1px solid #DFE4EE;
  padding-left: 13px;
  height: 39px;
  padding-top: 8px;
  font-size: 12px;
  font-weight: bold;
}

.cat__title:last-child {
  border: none;
}

.cat__title i {
  position: absolute;
  right: 15px;
  top: 11px;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.cat__title.anim i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cat__title.anim + ul.hide-list {
  margin-top: 0;
  opacity: 1;
  margin-bottom: 0;
}

.df {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.side-menu__available {
  width: 190px;
  background: #fff;
  border-radius: 3px;
  padding-bottom: 10px;
}

.side-menu__available__title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #DFE4EE;
}

.side-menu__available__title h6 {
  margin-bottom: 0;
  color: #343e5c;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}

.side-menu__available__title a {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 13px;
  text-decoration: underline;
  color: #2754eb;
}

.side-menu__available__storage {
  position: relative;
  margin-bottom: 10px;
  padding-left: 10px;
}

.side-menu__available__storage input {
  margin-bottom: 0;
}

.side-menu__available__storage label {
  font-size: 12px;
  color: #343e5c;
  margin-bottom: 0;
}

.side-menu__available__storage__value {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.side-menu__available__brands {
  border-top: 1px solid #DFE4EE;
}

.side-menu__available__delivery {
  margin-top: 10px;
  border-radius: 3px;
  background: #ffffff;
}

.side-menu__available__delivery__title {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #DFE4EE;
}

.side-menu__available__delivery__title h6 {
  margin-bottom: 0;
  color: #343e5c;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.side-menu__available__delivery label {
  color: #343e5c;
  text-transform: uppercase;
  font-size: 11px;
}

.side-menu__available__delivery__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu__available__delivery__cost div {
  padding-top: 10px;
}

.side-menu__available__delivery__cost div label {
  margin-top: -3px;
}

.side-menu__available__delivery__cost div:first-child {
  border-right: 1px solid #DFE4EE;
  height: 100%;
  padding-right: 35px;
}

.side-menu__available__delivery__cost div:last-child {
  border: none;
}

.condition {
  margin-top: 10px;
  border-radius: 3px;
  background: #ffffff;
  padding-bottom: 5px;
}

.condition label {
  font-size: 10px;
}

.condition input {
  padding-left: 5px;
}

label {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
}

label span {
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
  height: 20px;
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  vertical-align: -6px;
  margin-right: 10px;
  -webkit-transition: background-color 150ms 200ms, -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89), -webkit-transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #00E2AA;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  left: 6px;
  -webkit-transition: width 50ms ease 50ms;
  transition: width 50ms ease 50ms;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #00E2AA;
  position: absolute;
  -webkit-transform: rotate(305deg);
          transform: rotate(305deg);
  top: 12px;
  left: 7px;
  -webkit-transition: width 50ms ease;
  transition: width 50ms ease;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

label:hover span:before {
  width: 5px;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
}

label:hover span:after {
  width: 10px;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.check {
  display: none !important;
}

.check:checked + label span {
  background: #00E2AA;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.check:checked + label span:after {
  width: 10px;
  background: #fff;
  left: 7px;
  top: 12px;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.check:checked + label span:before {
  width: 5px;
  background: #fff;
  left: 6px;
  top: 8px;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.check:checked + label:hover span {
  background: #00E2AA;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.check:checked + label:hover span::after {
  width: 10px;
  background: #fff;
  -webkit-transition: width 150ms ease 100ms;
  transition: width 150ms ease 100ms;
}

.products {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 330px;
  width: 240px;
  background: #000;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px 17px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.products__el__btn {
  display: block;
  position: absolute;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 8px;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.products__el__photo {
  height: auto;
  width: 70%;
  margin-top: 10%;
}

.products__el__photo img {
  height: inherit;
  width: 100%;
}

.products__el__title {
  font-weight: bold;
  color: #343e5c;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.products__el__check-color {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
}

.products__el__price {
  color: #343e5c;
  font-weight: bold;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  border-radius: 5px;
  position: absolute;
  bottom: 2%;
  left: 20%;
  height: 30px;
}

.products__el.myclass {
  width: 492px;
  padding: 20px 150px 90px 150px;
  position: relative;
}

.products__el.myclass .products__el__price {
  bottom: 85%;
  left: 5%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  background-color: #000000;
  color: #fff;
  line-height: 30px;
}

.products__el.myclass .products__el__btn {
  left: 50%;
  bottom: 20px;
}

.products__el.myclass .products__el__title {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pages-fon {
  background: #E4E5E7;
}

.pages {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background: #fff;
  padding: 0 40px;
  height: 60px;
  margin-bottom: 30px;
}

.pages__arrow {
  height: 100%;
  padding-top: 19px;
  border-right: 2px solid #f0f2f7;
  padding-right: 60px;
}

.pages__arrow:last-child {
  padding-right: 0;
  padding-left: 60px;
  border-right: none;
  border-left: 2px solid #f0f2f7;
}

.pages__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.pages__list ul li {
  margin: 0 3px;
  text-align: center;
}

.pages__list ul li:hover {
  background: #fff;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.pages__list ul li a {
  padding: 8px 15px;
  color: #343e5c;
  display: block;
  font-size: 14px;
}

.comment-out {
  display: none;
}

.selected-comment {
  background: #fff;
}

.sellers-pos {
  padding-top: 20px;
  margin-bottom: 40px;
}

.sellers {
  background: #E4E5E7;
}

.sellers__title {
  background: #fff;
  text-align: center;
  font-size: 20px;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #f0f2f7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sellers__title div {
  color: #343e5c;
}

.sellers__all-carts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sellers__all-carts__cart {
  width: 240px;
  text-align: center;
  border-right: 2px solid #f0f2f7;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sellers__all-carts__cart:last-child {
  border-right: none;
}

.sellers__all-carts__cart__img {
  overflow: hidden;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sellers__all-carts h6 {
  color: #343e5c;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.sellers__all-carts p {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.sellers__all-carts span {
  margin: 0 8px;
  text-decoration: line-through;
}

.sellers__all-carts span:last-child {
  text-decoration: none;
  color: #343e5c;
  font-weight: bold;
}

.customers {
  background: #fff;
}

.customers__main {
  padding: 40px 0;
}

.customers__main__title {
  text-align: center;
}

.customers__main__title h1 {
  font-weight: bold;
  color: #343e5c;
  font-size: 35px;
  margin-bottom: 0;
}

.customers__main__title p {
  font-style: italic;
}

.customers__main__all-coments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.customers__main__all-coments__el__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__main__all-coments__el__top__photo {
  width: 70px;
}

.customers__main__all-coments__el__top__photo picture {
  width: inherit;
}

.customers__main__all-coments__el__top__photo img {
  width: inherit;
  border-radius: 50%;
}

.customers__main__all-coments__el__top__title {
  margin-left: 20px;
}

.customers__main__all-coments__el__top__title h5 {
  margin-bottom: 0;
  color: #343e5c;
}

.customers__main__all-coments__el__top__title p {
  font-style: italic;
}

.customers__main__all-coments__el__text {
  max-width: 266px;
  font-size: 13px;
  color: #343e5c;
}

.footer {
  background: #222328;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer__nav__networks i {
  color: #ffffff;
  margin-left: 10px;
}

.footer__nav__networks i:hover {
  color: #F77B4C;
}

.footer__nav__logo {
  font-size: 45px;
  color: #ffffff;
  font-family: 'Cookie', sans-serif;
}

.footer__privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.footer__privacy p {
  width: 600px;
  font-style: italic;
  color: #ffffff;
}

.footer__privacy__rigth {
  margin-left: 20px;
}

.footer__privacy__rigth span {
  margin-left: 25px;
  white-space: nowrap;
  color: #ffffff;
}

.tns-nav-active {
  background: #ffffff;
}

.wrapper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
